{% extends "books/base.html" %}

{%load static%}

{%block page_title%}
All Books
{%endblock%}

{%block css_files%}
<link rel="stylesheet" href = "{%static "books/book.css"%}"></link>
<link rel="stylesheet" href = "{%static "books/all_books.css"%}"></link>
{%endblock%}

{%block page_content%}
<section id= "all-books">
    <h2> My Collected Books</h2>

    <ul>
        {%for book in books%}
            {%include "books/includes/single_book.html" with title=book.title edition=book.edition category=book.category updated=book.updated_date description=book.description image=book.thumbnail.url%}
        {%endfor%}
    </ul>
</section>

{%endblock%}
