{%extends "base.html"%}
{%load static%}


{%block page_title%} Recently Added Books{%endblock%}

{%block css_files%}
<link rel="stylesheet" href = "{%static "books/book.css"%}"></link>
<link rel="stylesheet" href = "{%static "books/index.css"%}"></link>
{%endblock%}

{%block page_content%}
<main>
    <section id="welcome">
        <img src= "{%static "books/images/books.jpg"%}"alt= "books profile"/>
        <h2>Enjoy Reading</h2>
        <p>Here you can find the best and newly added books for your review.</p>
    </section>
    <section id="latest-posts">
        <h2>Last updated </h2>
        <ul>
            {%for book in books%}
                {%include "books/includes/single_book.html" with title=book.title edition=book.edition category=book.category updated=book.updated_date description=book.description image=book.thumbnail.url%}
            {%endfor%}

        </ul>
    </section>
    <section id="about">
        <h2>About</h2>
        <p>Books are more than just paper and ink; they are portals to infinite worlds. They have the power to transport us to distant lands, introduce us to fascinating characters, and teach us about history, science, and everything in between</p>

    </section>
</main>



{%endblock%}