{% extends "base.html" %}

{%load static%}

{%block page_title%}
{{post.title}}
{%endblock%}

{%block css_files%} 
    <link rel="stylesheet" href= "{%static "blog/post-detail.css" %}">
{%endblock%}

{%block page_content%}
<section id= "summary">
    <h2> {{post.title}}</h2>
    
    <div class = "tag">
        {%for tag in post_tags%}
            <p>{{tag.caption}}</p>
        {%endfor%}
    </div>
    <div id = "read-later">
        <form action= "{% url "read-later" %}"  method = "POST">
            {%csrf_token%}
            <input type = "hidden" name ="post_id" value = "{{post.id}}">
            <button> Read Later </button>
        </form>
    </div>
    <article>
        <img src= {{post.image.url}} alt = "{{post.title}}" />
        <addresss> By <a href= "mailto:{{post.author.email}}">{{post.author}} </a></adress>
        <div>
            last updated on <time> {{post.date|date:"d M Y"}} </time>
        </div>
    </article>
</section>

<main>
    <p>
        {{post.content|linebreaks}}
    </p>
    <section id = "comments">
        <ul>
            {%for comment in comments%}
            <li>
                <h2>{{comment.username}}<h2>
                <p> {{comment.text | linebreaks}}</p>
            </li>
            {%endfor%}
        </ul>
    </section>
    
    <div id = "comment-form">
        <h2> Your Comment</h2>
        <form class = "form-control" action="{% url "post_detail_page" post.slug %}" method="POST">
            {% csrf_token %}
            {%for form_field in comment_form %}
            {{form_field.label_tag}}
            {{form_field}}
            {{form_field.errors}}
            {%endfor%}
            <button>Save</button>
        </form>
    </div>
</main>

{%endblock%}
